doctype html
html
	include ../head
	body
		include ../navbar
		
		.wrapper
			.header
			.container-fluid
				.row.top7
					.col.col-md-6.col-md-offset-3.col-sm-7.col-sm-offset-3
						.panel
							.panel-body
								.col.col-xs-12
									img.img-responsive.img100#fotoPerfil.center-block(src='/img/post/#{usuarioPerfil.imagemPerfil}')
								.col.col-xs-12.top7
									h3.text-center #{usuarioPerfil.nome}
									if usuarioPerfil.nome == usuario.nome
										.text-center
											a#btnAlterarFotoPerfil(href="#", data-toggle="modal", data-target="#modalFotoPerfil")
												| alterar foto de perfil
								.col.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3
									button#btnSeguir.btn.btn-primary.btn-sm.btn-block(onclick='seguir("#{usuarioPerfil._id}")')
										if isSegue
											| Seguindo
										else
											| Seguir
								.col.col-xs-12.top7
									.text-center
										| seguindo 
										b #{usuarioPerfil.seguindo.length}
									.text-center
										| seguidores 
										b #{usuarioPerfil.seguidores.length}
									.text-center
										| posts 
										b #{posts.length}
				.row.top7
					.col.col-md-6.col-md-offset-3.col-sm-7.col-sm-offset-3
						.row
							each post in posts
								.col.col-xs-6
									.panel
										a(href="/p/#{post._id}")
											.panel-body.panelBodyFotoPreviewPerfil
												.background-blur(style='background-image: url("../img/post/#{post.imagem}");')
												
												
												img.img-responsive.fotoPreviewPerfil.center-block(src="../img/post/#{post.imagem}")
										if post.isCurte
											- var liked='btnLikeCurtido'
										else
											- var liked=''
										.panel-heading.text-center
												i.fa.fa-heart.pointer.btnLike(id="btnLike#{post._id}", class="#{liked}", aria-hidden="true", onclick='curtir("#{post._id}")')
												span.qCurtiu(id="qCurtiu#{post._id}") #{post.curtiu.length}
				include ../uploadFile
				include ../modalFotoPerfil