doctype html
html
    include ../head
    body
        include ../navbar

        .wrapper
            .header
            .container-fluid
                if post === undefined || post === null
                    .row.top7
                        .col.col-md-5.col-md-offset-3
                            .panel
                                .panel-body
                                    .text-center Post não encontrado
                else
                    .row.top7
                        .col.col-md-5.col-md-offset-3
                            .panel
                                .panel-heading
                                    a(href="/u/#{post.dono.nome}")
                                        | #{post.dono.nome}
                                .panel-body
                                    | #{post.descricao}

                                    .text-center.top5
                                        img.img-responsive(src="../img/post/#{post.imagem}")
                                .panel-heading
                                    if post.isCurte
                                        - var liked='btnLikeCurtido'
                                    else
                                        - var liked=''
                                    i.fa.fa-heart.fa-2.pointer.btnLike(id="btnLike#{post._id}", class="#{liked}", aria-hidden="true", onclick='curtir("#{post._id}")')

                                    span.qCurtiu(id="qCurtiu#{post._id}") #{post.curtiu.length}

                include ../uploadFile